body {
    background-color: #d6e2f0;

    /* 
    Suggestions from @ecemgo 
    Remove:
    text-align: center; 
    */
    /* Add the following: */
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

/* div container for QR code image */
.container {
    background-color: white;
    height: 500px;
    width: 300px;
    border-radius: 25px;
    /* 
    Suggestions from @ecemgo
    Remove:
    margin: 100px auto; 
    */
}

/* QR code styling */
.qr-code-image {
    width: 90%;
    align-items: center;
    margin-top: 15px;
    margin-left: 15px; /* removed auto and used 15px */
    margin-right: 15px; /* removed auto and used 15px */
    border-radius: 25px;
}

/* Test styling */
.text1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    text-align: center;
    width: 70%;
    text-align:center;
    margin: auto;
    padding-top: 20px;
}

.text2 {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    text-align: center;
    width: 90%;
    margin: auto;
    padding-top: 20px;
}

/* Footer */
.attribution { 
    font-size: 11px; 
    text-align: center;
    /* 
    Suggestions from @ecemgo
    Remove:
    margin-top: 300px;
    */
}
.attribution a { 
    color: #3e52a3; 
}